body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  height: 100%;
  font-size: 0.8rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222831;
  min-height: 3rem;
}

.nav .btn {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  margin-left: 1rem;
  color: #eeeeee;
}

.nav .btn:hover {
  color: #32e0c4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.freelance {
  text-align: center;
  border-left: 10px solid #32e0c4;
}

.freelance h3 {
  margin-top: 20%;
  font-size: 0.5rem;
}

.freelance p {
  font-size: 0.5rem;
}

.headingText {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainTitle {
  font-size: 2rem;
  position: relative;
  color: #eeeeee;
  border-left: 4px solid #32e0c4;
  padding-left: 1rem;
  left: 10%;
}

.headerImg {
  width: 100%;
}

.row h6 {
  text-align: center;
}

#article {
  margin: 0 2rem;
  margin-top: 2rem;
}

.flexy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%;
}

.socMedia {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.socMedia p {
  margin-left: 0.5rem;
}

.footer {
  background-color: #222831;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  .socMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
  }
  .socMedia p {
    margin-left: 0.5rem;
  }
  .nav {
    min-height: 4rem;
    font-size: 1rem;
  }
  .nav .btn {
    font-size: 1.2rem;
  }
  .mainTitle {
    font-size: 5rem;
    border-left: 8px solid #32e0c4;
  }
  #article {
    margin: 0 4rem;
    margin-top: 2rem;
  }
  .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .freelance {
    text-align: center;
    border-left: 10px solid #32e0c4;
  }
  .freelance h3 {
    margin-top: 20%;
    font-size: 1rem;
  }
  .freelance p {
    font-size: 1rem;
  }
  .footer {
    margin-top: 8rem;
  }
}
/*# sourceMappingURL=style.css.map */